/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.my-gallery-class .grid-items{
  margin: 6px;
  width: 310px;
}

.my-gallery-class {
  margin: 0 auto;
}

.cardHeader > div{
  padding-right: 10px !important;
}

.cardHeader > img{
  margin-right: 8px !important;
  cursor: pointer;
}

.cardActions {
  padding: 8px 6px !important;
}

.cardActions > div {
  min-width: 50px !important;
  margin-right: 0px !important;
}

.container-class {
  max-width: 1024px;
  margin: 0 auto;
}

.grid-items {
  -webkit-box-shadow: 4px 9px 25px -4px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 4px 9px 25px -4px rgba(0,0,0,0.75) !important;
  box-shadow: 4px 9px 25px -4px rgba(0,0,0,0.75) !important;
}

.grid-items:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
}
